.Rproj.user
.Rhistory
.RData
.Ruserdata
\local
*.Rproj
InProcessData/*.tif
InProcessData/*.tif.ovr
InProcessData/*.prj
InProcessData/*.dbf
InProcessData/*.shp
InProcessData/*.shx
InProcessData/*.mxd
InProcessData/*.tif.aux.xml
InProcessData/*.zip
CleanData/*.zip
*.docx
CleanData/*.dbf
CleanData/*.shp
CleanData/*.shx
CleanData/*.mxd
CleanData/*.prj

